---
---

p {
  margin: 20px 0;
  text-align: justify;
  line-height: var(--spacing);
}

// On mobile, override justification to prevent stretched text
@media (max-width: 768px) {
  p {
    text-align: center;
  }
}